h1 {
    text-align: center;
    background-color: rgb(40, 40, 40);
    color: white;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

form.example button {
    width: 2%;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .cityrow {
      float: right;
  }

  .card {
      border: solid 1px;
      margin-right: 25px;
  }

  .bg-primary {
      background-color: rgb(54, 121, 247);
      border-radius: 5px;
      width: 125px;
      height: 150px;
  }

  .text-white {
      color: white;
  }

  .card {
      float: right;
  }

  h2 {
      float: right;
  }

  .citylist {
      float: left;
  }
  
  .citysearch {
      float: left;
  }
